*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}



/* ----------start------------ */
/* -------------nav-------------- */
nav{
    padding: 15px 0px;
}
nav .container, .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
display: flex;
align-items: center;
color: #151517;

}
.nav-item{
    margin: 0px 10px;
    padding: 5px 10px;
}
.nav-link{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #151517;
}
.nav-link:hover,.nav-homelink{
    color:  #EEBF63;
}

/* ------------header------------- */
header{
    background-color: none;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    width: 37%;
}
.header-right{
    width: 60%;  
    background-image: url(./Bullet\ Points.png);  
    background-position: top 90% left 0;
    background-repeat: no-repeat;
}
.header-line{
    margin-left: 50px;
}
.header-title{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */


/* #828282 */

color: #828282;

}
.header-text{
    margin: 30px 0px;
    font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 62px;
/* or 129% */


color: #2F2F2F;
}
.header-copy{
    margin: 30px 0px;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */


/* #2F2F2F */

color: #2F2F2F;

}
.header-follow{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

display: flex;
align-items: center;

/* #828282 */

color: #828282;
}
.btn-text,.btn_text{
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */
padding: 0 10px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.btn_text{
    color: #2F2F2F;
}
.header-name{
    color: #EEBF63;
}
.header-btn,.header_btn{
    margin-right: 20px;
    background: #EEBF63;
border-radius: 10px;
border: 1px solid #EEBF63;
/* display: flex; */
}
.header-btn:hover{
    background-color:#f0ad27 ;
}
.header_btn:hover{
    background-color: #f9f9f9;
    border:1.5px solid #f0ad27;
}
.head-btn{
    display: flex;
    padding: 10px 20px;
align-items: center;
}
.header_btn{
    background-color: #FFFFFF;
}
.header-list{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.header-item{
    margin-right: 20px;
}
.header-avatar{
    width: 100%;
}

/* -----------------box---------------- */
.box{
    margin: 50px 0px;
}
.box-left{
    width: 40%;
}
.box-right{
    width: 50%;
}
.box-avatar{
    width: 100%;
}
 .box-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-text{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 45px;
color: #000000;
}
.box-copy{
    margin:70px 0 20px 0;
    font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 62px;
color: #151517;
}
.box-title{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #828282;
}

/* -------------middle--------------- */
.middle{
    margin: 100px 0px;
}
.middle-top,.middle-photos{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle-title{
    font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 62px;
/* identical to box height, or 129% */


color: #151517;

}
.middle-btn{
    background: #EEBF63;
border-radius: 10px;
padding: 10px 20px;
border: none;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #fff;
}
.middle-btn:hover{
    background-color: #f0ad27;
}
.middle-img{
    width: 49%;
}
.middle-copy{
    margin: 10px 0px;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
color: #1C1C1C;
}
.middle-text{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #151517;
padding:0 80px 0 5px;
}

/* --------------section---------------- */
.section h2{
    font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 62px;
text-align: center;
color: #151517;
}
.section h3{
    margin: 20px 0px;
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #2F2F2F;
}
.section-text{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #828282;
}
.section-item{
    width: 24%;
}
.section-img{
    width: 100%;
}
.section-list{
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
}
/* ----------------work--------------- */
.work{
    margin: 50px 0;
}
.work .container{
     background: #EEBF63;
    border-radius: 25px;
    padding: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.work-btn{
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

/* #2F2F2F */

color: #2F2F2F;
    background: #FFFFFF;
box-shadow: 0px 0.927421px 1.92354px rgba(0, 0, 0, 0.00974257);
border-radius: 10px;
border: none;
padding: 15px 40px;
}
.work_btn{
    background: #EEBF63;
border-radius: 25px;
border:1px solid #fff;
padding: 15px 40px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */


/* #FFFFFF */

color: #FFFFFF;

}
.work-btn img{
    margin-right: 10px;
    margin-top: 20px;
}
.work h2{
    font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 62px;
/* or 129% */
width: 25%;

/* #FFFFFF */

color: #FFFFFF;
}
.logos{
    margin: 50px 0px;
    text-align: center;
}
/* ------------footer---------- */
.footer{
    width: 100%;
    background: #ebe8e8;
    padding: 0px;
}
.footer .container, .footer-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer .container{
    padding: 25px 0px;
}
.footer-icon{
    margin: 0 10px;
}
.footer-link{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #2F2F2F;
}
.footer-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: inline-block;
    color: #2F2F2F;
    margin-right: 10px;
}
/* -----------------------*----------------------- */
nav, header, .box, .middle, .section, .work, .logos,.footer{
        padding: 25px;
}
 
.box-blok{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E9E9E9;
    border-radius: 45px;
    padding: 60px;
}
/* --------------media----------------- */
@media(max-width:1160){
    .container{
        width: 1000px;
    }
}
@media(max-width:1020){
    .container{
        width: 900px;
    }
}
@media(max-width:920){
    .container{
        width: 800px;
    }
}
@media(max-width:820){
    .container{
        width: 700px;
    }
}
@media(max-width:720){
    .container{
        width: 600px;
    }
}
@media(max-width:620){
    .container{
        width: 500px;
    }
}
@media(max-width:520){
    .container{
        width: 400px;
    }
}
@media(max-width:420){
    .container{
        width: 300px;
    }
}
@media(max-width:320){
    .container{
        width: 200px;
    }
}

